<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main>
      <h1><%= category.name %></h1>
      <section><%- include('../views/components/parts_list'); %></section>
      <a class="detail-link" href="<%= category.url+'/delete' %>">
        <p class="center-text">Delete Category</p>
      </a>
    </main>
  </body>
</html>
