<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main>
      <h1><%= title %></h1>
      <section class="form-wrapper">
        <form method="post">
          <fieldset>
            <ul>
              <li>
                <label for="part_name">*Part Name:</label>
                <input type="text" id="part_name" name="part_name" required />
              </li>
              <li>
                <label for="descr">Description:</label>
                <input type="text" id="descr" name="descr" />
              </li>
              <li>
                <label for="inventory">*Inventory:</label>
                <input type="number" id="inventory" name="inventory" required />
              </li>
              <li>
                <label for="price">*Price:</label>
                <input type="number" id="price" name="price" required />
              </li>
              <li>
                <label for="vehicle">Vehicle</label>
                <select name="vehicle" id="vehicle">
                  <% vehicles.forEach(function(vehicle) { %>
                  <option value="<%= vehicle._id  %>">
                    <%= vehicle.manufacturer + ' ' + vehicle.model %>
                  </option>
                  <% }); %>
                </select>
              </li>
              <li>
                <label for="category">Category</label>
                <select name="category" id="category">
                  <% categories.forEach(function(category) { %>
                  <option value="<%= category._id %>">
                    <%= category.name %>
                  </option>
                  <% }); %>
                </select>
              </li>
            </ul>
          </fieldset>
          <% if(errors){ %>
          <ul>
            <% errors.forEach(function(err) { %>
            <li class="err"><%= '*' + err.msg %></li>
          </ul>
          <% })} %>
          <button type="submit">Submit</button>
        </form>
      </section>
    </main>
  </body>
</html>
