<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main>
      <h1><%= vehicle.manufacturer + ' ' + vehicle.model %></h1>
      <section>
        <ul class="part-ul">
          <% parts_list.forEach(function(part) { %>
          <li>
            <div class="part-card">
              <ul>
                <li>
                  <a class="detail-link" href="<%= part.url %>"
                    ><strong><%= part.name %></strong></a
                  >
                </li>
                <li><%= part.description %></li>
                <li><%= '$' + part.price %></li>
              </ul>
            </div>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>
  </body>
</html>
